$bg-color: beige;
$font-color: black;
$box-text-color: #333;


// ==============
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
  background: $bg-color;
}

.main-wrap {

  width: 80%;
  margin: 100px auto;
  .box {
    border: $bg-color solid 1px; //REMOVE
    height: 100px;
    width: 200px;

    background-image: url('../box.png');
    background-size: contain;
    background-repeat: no-repeat;

    .box-text {
      margin-top: 35%;
      margin-left: 20%;

      color: $box-text-color;
    }
  }


  @keyframes box-shake {
    0% {
      margin: auto;
    }
  }

  .idea-modal {
    
  }
}

footer {
  margin-top: 100px;
}
