$bg-color: #ccc;
$font-color: black;
$box-text-color: #333;
$paper-color: white;
$button-color: red;
$button-color-down: darkred;


// ==============
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
  background: $bg-color;
}

.main-wrap {

  width: 80%;
  margin: 100px auto;
  .box {
    border: $bg-color solid 1px; //REMOVE
    height: 100px;
    width: 200px;

    background-image: url('../box.png');
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 10;

    .box-text {
      margin-top: 35%;
      margin-left: 20%;

      color: $box-text-color;
    }
  }


  .idea-modal {
    display: none; //REMOVE
    width: 300px;
    height: 50px;

    padding: 15px 5px;

    background: white;

  }
  .button {
    height: 40px;
    width: 130px;

    margin: 0 0 100px 0;
    text-align: center;

    border-radius: 10px;

    background-color: $button-color;

    &:hover {
      background-color: $button-color-down;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}

.ball {
  height: 30px;
  width: 30px;
  background-color: $paper-color;
  border-radius: 50%;

  display: block;
  position: absolute;

  left: 300px;
  top: 374px;
}


.show-me{
  animation: show;
  animation-delay: 2s;
  animation-duration: 1s;
}

.tip {
  animation: tip 1s forwards;
}

.bounce {
  animation: bounce 1s forwards;
  animation-delay: 0.7s;
}

h1 {

}

h2 {
  font-style: italic;
}


footer {
  margin-top: 100px;
}

// ======== KEYFRAMES
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes roll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(150px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(100px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(100px);
  }
}
