$bg-color: #ADD8E6;
$font-color: black;
$box-text-color: #333;
$paper-color: white;
$button-color: #fff;
$button-color-down: #63b4cf;
$keyword-color: #333;
$keyword-bg: #f2f2f2;

$box-font: 'Black Ops One', cursive;
$keyword-font: monospace;


// ==============
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'helvetica neue', arial;
  background: $bg-color;
  margin: 20px;
  text-align: center
}

.main-wrap {

  width: 80%;
  margin: 100px auto;
  position: relative;
  .box {
    height: 150px;
    width: 250px;
    margin: 40px auto;
    position: relative;

    background-image: url('../box.png');
    background-size: contain;
    background-repeat: no-repeat;

    .box-text {
      color: $box-text-color;

      font-family: $box-font;
      font-size: 15pt;
      position: absolute;
      bottom: 30px;
      left: 60px;
    }
  }


  .idea-expand {
    font-size: 30pt;
    text-align: center;

    width: 100%;

    padding: 15px 20px;
    margin: 0 auto 30px auto;


    .keyword {
      font-family: $keyword-font;
      color: $keyword-color;
      font-size: 30pt;
      background-color: $keyword-bg;
      padding: 2px 5px;
    }

  }

  .idea-header {
    margin-bottom: 30px;
    animation: fade 3s;

    .resources {
      margin: 20px 0;
      font-size: 16pt;
      font-style: italic;
    

      a {
        text-decoration: underline;
        color: $font-color;
        &:hover {
          color: #2a7189;
        }
      }
    }
  }

  .idea-box {
    font-size: 14pt;
    width: 5px;

    padding: 15px 20px;
    background: $paper-color;
    border-radius: 15px;
      .keyword {
        font-size: 16pt;
      }

    margin: 0 auto;

  }

  .tweets {
    margin: 30px;

    .solo-tweet {
        margin: 40px 10px;

        .twitter-tweet {
          margin-left: auto;
          margin-right: auto;
        }
    }
  }

  .button {

    display: inline;
    padding: 20px 15px;
    margin: 40px auto;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: $button-color;

    transition: all 50ms;

    &:hover {
      background-color: $button-color-down;
      cursor: pointer;
      cursor: hand;
    }

    &:active {
      transform: scale(1.1);
    }
  }
}

.fail {
  color: red;
  font-weight: bold;
}

.idea {
  height: 50px;
  width: 50px;

  border: $paper-color solid 2px;
  border-radius: 50%;

  background-color: $paper-color;
  background-image: url('../light.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 20%;
  right: 45%;
  z-index: -1;
  transform: scale(0.05);
  transition: all 50ms;

  &:hover {
    background-color: $button-color-down;
    border-color: $button-color-down;
    cursor: pointer;
    cursor: hand;
  }

  &:active {
    transform: scale(1.1);
  }
}

.shake {
  animation: shake 1s forwards;
}

.fly {
  animation: fly 1s forwards;
  animation-delay: 1s;
}


.on {
    animation: expand 2s forwards;
}

h1 {

}

h2 {
  font-style: italic;
}


footer {
  margin-top: 100px;
}

.hidden {
  display: none !important;
  // opacity: 0;
}

// ======== KEYFRAMES
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  10% {transform: translateX(-40px);}
  15% {transform: translateY(-20px);}
  20% {transform: translateX(60px);}
  25% {transform: translateY(60px);}
  30% {transform: translateX(-40px);}
  35% {transform: translateY(-20px);}
  40% {transform: translateX(60px);}
  45% {transform: translateY(60px);}
  50% {transform: translateX(-40px);}
  55% {transform: translateY(-20px);}
  60% {transform: translateX(40px);}
  65% {transform: translateY(60px);}
  70% {transform: translateX(-40px);}
  75% {transform: translateY(-20px);}
  80% {transform: translateX(60px);}
  85% {transform: translateY(60px);}
  90% {transform: translateX(-60px);}
  100% {transform: translateX(0px);}
}

@keyframes fly {
  0% {transform: scale(0.01);}
  5% {z-index: 1;}
  100% {transform: scale(1); top: -70px;; z-index: 1;}
}

@keyframes expand {
  0% {width: 0px; opacity: 0;}
  100% {width: 80%; opacity: 1;}
}

@keyframes fade {
from {opacity: 0;}
to {opacity: 1;}
}
